{% extends 'app/base.html' %}
{% block content %}

    <div class="card">
      <h5 class="card-header">{{ book }}</h5>
        <div class="card-body">
            {% for name in book.author.all %}
            <h5 class="card-title">{{ name }}</h5>
            {% endfor %}

          <p class="card-text">{{ book.publisher }}</p>
          <p class="card-text">Category: {{ book.category }}</p>
          <a href="{% url 'update-book' book.id %}" class="btn btn-primary">Update</a>
          <a href="{% url 'delete-book' book.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>

{% endblock %}