{% extends 'app/base.html' %}
{% block content %}
<h1>Lender Information</h1>
    <br>
    <h5><a href="{% url 'add-lender' %}" class="btn btn-light">Lend a Book</a> </h5>
    <br>
    <h6>


    {% for lender in lender_list %}
         <table class="table table-hover">

                <tr>
                  <th scope="col" class="align-middle">Name</th>
                  <th scope="col" class="align-middle">Books</th>
    {#              <th scope="col" class="align-middle">Check In</th>#}

                </tr>


                <tr>
                  <td class="align-middle">{{ lender }}</td>
                  <td class="align-middle">{{ lender.book }}</td>
{#                  <td class="align-middle">#}
{#                       <div class="btn-group" role="group">#}
{#                         <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                           Edit#}
{#                         </button>#}
{#                         <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#                           <li><a class="dropdown-item" href="{% url 'update-lender' lender.id %}">Update</a></li>#}
{#                           <li><a class="dropdown-item" href="{% url 'delete-lender' lender.id %}">Delete</a></li>#}
{#                         </ul>#}
{#                       </div>#}
{#                  </td>#}
                </tr>


        </table>

        <table class="table table-hover">


                <tr>
                    <th scope="col" class="align-middle">Check Out</th>
                    <th scope="col" class="align-middle">Condition</th>
                    <th scope="col" class="align-middle">Check In</th>
                    <th scope="col" class="align-middle">Condition</th>
    {#              <th scope="col" class="align-middle">Check In</th>#}

                </tr>

                <br>

                <tr>
                  <td class="align-middle">{{ lender.checkout }}</td>
                  <td class="align-middle">{{ lender.con_before }}</td>
                  <td class="align-middle">{{ lender.checkin }}</td>
                  <td class="align-middle">{{ lender.con_after }}</td>
                </tr>

        </table>

                    <br>
                    <div class="btn-group" role="group">
                         <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                           Edit
                         </button>
                         <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                           <li><a class="dropdown-item" href="{% url 'update-lender' lender.id %}">Update</a></li>
                           <li><a class="dropdown-item" href="{% url 'delete-lender' lender.id %}">Delete</a></li>
                         </ul>
                       </div>
        <br><hr><br>


{#                <tr>#}
{#                    <td class="align-middle">------</td>#}
{#                    <td class="align-middle">------</td>#}
{#                    <td class="align-middle">{{ lender.checkin }}</td>#}
{#                    <td class="align-middle">{{ lender.con_after }}</td>#}
{#                </tr>#}




    {% endfor %}



    </h6>
{% endblock %}