{% extends 'app/base.html' %}
{% block content %}
<h1>Member list</h1>
    <br>
    <h5><a href="{% url 'add-user' %}" class="btn btn-light">Add Member</a> </h5>
    <br>
    <h6>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="align-middle">Name</th>
              <th scope="col" class="align-middle">Phone</th>
              <th scope="col" class="align-middle">Group</th>
            </tr>
          </thead>
            <tbody>

            {% for user in user_list %}

                <tr>
                  <td class="align-middle">{{ user.first_name}} {{ user.last_name }}</td>
                  <td class="align-middle">{{ user.phone }}</td>
                  <td class="align-middle">{{ user.group }}</td>

                  <td class="align-middle">
                       <div class="btn-group" role="group">
                         <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                           Edit
                         </button>
                         <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                           <li><a class="dropdown-item" href="{% url 'update-user' user.id %}">Update</a></li>
                           <li><a class="dropdown-item" href="{% url 'delete-user' user.id %}">Delete</a></li>
                         </ul>
                       </div>
                  </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </h6>
{% endblock %}